@inherits ComponentBase
@namespace ThingsGateway.Server

<div class="popup-overlay">
	<div class="popup-window text-align: center; ">
		<p>
			🎉 <strong>ThingsGateway</strong>  正在参加
			<strong> Gitee 2025 最受欢迎的开源软件评选活动 </strong>，
			需要你的支持！
		</p>
		<a href="https://gitee.com/activity/2025opensource?ident=I4XWR9"
		   target="_blank"
		   rel="noopener noreferrer"
		   class="popup-link" onclick="@OnClick">
			👉 前往投票支持
		</a>
	</div>
</div>
