@inherits ComponentDefault
@using BootstrapBlazor.Components
@using Microsoft.AspNetCore.Authorization
@using ThingsGateway.Admin.Razor
@using ThingsGateway.Debug
@using ThingsGateway.Gateway.Application
@using ThingsGateway.Admin.Application
@using ThingsGateway.Razor
@namespace ThingsGateway.Management


<div class=@($"{ClassString} row g-0 h-100 mx-2") style="min-height:500px;">

    <div class="col-12 col-md-6 h-100">

        <EditComponent ItemsPerRow=1 Model="Model" OnSave="OnSaveRedundancy" />

        <Button IsDisabled=@(Model.IsMaster||(!Model.Enable)) OnClick="ForcedSync">@RedundancyLocalizer["ForcedSync"]</Button>
    </div>
    <div class="col-12 col-md-6 h-100">

        @if (Logger != null)
        {
            <LogConsole HeightString="calc(100% - 100px)" LogLevel=@(Logger.LogLevel) LogLevelChanged="(a)=>{
Logger.LogLevel=a;
}" LogPath=@LogPath HeaderText=@HeaderText></LogConsole>
        }
    </div>
</div>



