@using ThingsGateway.Admin.Application
@namespace ThingsGateway.Admin.Razor
@code {
    RenderFragment<NavigationUri> RenderItem => item =>
    @<div>
        <span class="mx-3">@item.ConfirmMessage</span>

        <a href=@item.Uri target="_blank">
            @item.Uri
        </a>

    </div>;
}
