@namespace ThingsGateway.Admin.Razor
@using ThingsGateway.Admin.Application
@using ThingsGateway.Admin.Razor

<div class="h-600px">
    <UniverSheet @ref="_sheetExcel" OnReadyAsync="OnReadyAsync"></UniverSheet>
</div>

<div class="text-start">
    <Button IsAsync OnClick="Save" class="  mt-3">
        @RazorLocalizer["Save"]
    </Button>
</div>